# CLion
.idea/
cmake-build-*/
build

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt

# 编译输出
*.o
*.elf
*.bin
*.hex
*.map
*.lst
*.a

# CubeMX 生成的部分（按需选择是否忽略）
# 如果你想追踪 CubeMX 生成的代码就注释掉下面这行
# *.ioc 建议保留追踪

# 调试
*.jlink
*.svd